<!--<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/resume.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>My Resume</title>
  <style>
    body {
      width: 100%;
      height: 100vh;
      background: linear-gradient(to right,
          black 0%,
          black 35%,
          white 35%,
          white 100%);
    }

    .container {
      width: 96%;
      height: 90%;
      position: relative;
    }

    img {
      height: 150%;
      width: 75%;
      margin-left: 12.5%;
      margin-top: -30%;
      border-radius: 80%;
    }

    .box {
      height: 140%;
      width: 30%;
      margin-left: 3.8%;
      background-color: #FE9703;
      border-radius: 80px;
      margin-top: -7%;
      position: absolute;

    }

    .rbox {
      margin-left: 35%;
      margin-top: 7.5%;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      background-color: #FE9703;
      padding: 2%;
      padding-left: 1%;
      margin-right: 8%;
      border-top-right-radius: 150px;
      border-bottom-right-radius: 150px;
    }

    .hd1 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 200%;
      padding-left: 5%;
      margin-top: 0%;
      padding-bottom: 0%;
    }

    .hd {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 450%;
      padding-left: 5%;
      margin-top: -3.5%;
      margin-bottom: 5%;
      margin-top: 10%;
      font-weight: bolder;
    }

    .t {
      padding-left: 5%;
      font-size: 190%;
      margin-top: -1%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    .hdc {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 500%;
      padding-left: 5%;
      padding-top: 7%;
      font-weight: bolder;
      margin-bottom: 6%;

    }

    .overlay {

     
      position: relative;
      background-color: black;
      height: 35%;
      width: 35%;
      /* margin-top: -175%; */
      margin-top: -188%;
      border-radius: 80%;
      margin-left: 1%;
      z-index: 9;
    }

    .desc {
      margin-left: 36%;
      margin-right: 9%;
      font-size: 180%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    td {
      padding-bottom: 5%;
    }
  </style>
</head>

<body>
  <p class="rbox" style="font-size: 400%; ">
    <%= data.name%>
      <br /><span style="font-size: 50%; font-family:Verdana, sans-serif; font-weight:lighter"> SOFTWARE ENGINEER</span>
  </p>
  <br />
  <p class="rbox" style="color:#FE9703;background-color:black;font-size:210%;padding:1%;width:12%">About me</p>
  <p class="desc">To work in an environment which encourages me to succeed and grow professionally where I can utilize
    my skills and knowledge appropriately.</p>
  <br />
  <p class="rbox" style="color:#FE9703;background-color:black;font-size:210%;padding:1%;width:14%">Experience</p>
  <p class="desc"><b>Company Name 2017-2020</b><br /><i>Job Position</i><br /><br />To work in an environment which
    encourages me to succeed and grow professionally where I can utilize my skills and knowledge appropriately.</p>
  <br /><br />
  <p class="desc"><b>Company Name 2020-2021</b><br /><i>Job Position</i><br /><br />To work in an environment which
    encourages me to succeed and grow professionally where I can utilize my skills and knowledge appropriately.</p>
  <br /><br />
  <p class="rbox" style="color:#FE9703;background-color:black;font-size:210%;padding:1%;width:13%">Education</p>
  <br />
  <table class="desc" style="margin-right: 5%; row-gap:100px">
    <tr>
      <td><b>2015<br /></b><i>Univeristy
          Name</i><br /><br /><b>Your_Degree</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>To work in an environment which encourages me to succeed and grow professionally where I can utilize my skills
        and knowledge appropriately.</td>
    </tr>
    <tr>
      <td><b>2015<br /></b><i>Univeristy
          Name</i><br /><br /><b>Your_Degree</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>To work in an environment which encourages me to succeed and grow professionally where I can utilize my skills
        and knowledge appropriately.</td>
    </tr>
    <tr>
      <td><b>2015<br /></b><i>Univeristy
          Name</i><br /><br /><b>Your_Degree</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>To work in an environment which encourages me to succeed and grow professionally where I can utilize my skills
        and knowledge appropriately.</td>
    </tr>
  </table>

   <div class="rbox" style="background-color:black;margin-left:62%;border-top-left-radius:150px;
    border-bottom-left-radius: 150px;border-top-right-radius:0px;
    border-bottom-right-radius: 0px; margin-right:0px;margin-top:200px"></div>
    <div class="rbox" style="margin-left:50%;border-top-left-radius:150px;
    border-bottom-left-radius: 150px;border-top-right-radius:0px;
    border-bottom-right-radius: 0px; margin-right:0px;margin-top:-5px"></div>
  <div class="container">

    <div class="box overlay">
      <img src="./mine.jpeg">
    </div>
    <div class="box">
      <p class="hdc">Contact</p>
      <p class="hd1">Phone</p>
      <p class="t">
        <%= data.phone%>
      </p>
      <p class="hd1">Email</p>
      <p class="t">
        <%= data.email%>
      </p>
      <p class="hd1">Address</p>
      <p class="t">
        <%= data.address%>
      </p>
      <p class="hd">Expertise</p>
      <ul class="t" style="padding-left: 11%;">
        <li>ui/ux</li>
        <li>user flow</li>
        <li>process flow</li>
        <li>visual design</li>
        <li>leadership</li>
        <li>coaching</li>
      </ul>
      <p class="hd">Language</p>
      <p class="t">English
      <div class="w3-container" style="margin-top:-12%;margin-left:50%">
        <div class="w3-grey" style="width:55%;height:0.5rem;">
          <div class="w3-black" style="width:70px;height:0.5rem;"></div>
        </div>
      </div>
      </p><br />
      <p class="t" style="margin-bottom:-5.5%;">Telugu
      <div class="w3-container" style="margin-bottom:-10%;margin-left:50%">
        <div class="w3-grey" style="width:55%;height:0.5rem;">
          <div class="w3-black" style="height:0.5rem;width:85%;"></div>
        </div>
      </div>
      </p><br />
      <p class="hd">Reference</p>
      <p class="hd1"> Vishnu Vardhan</p>
      <p class="t">Backflipt</p>
      <p class="hd1">Phone</p>
      <p class="t">9121808980</p>
    </div>
  </div>
</body>

</html>-->





<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <title>My Resume</title>
    <style>
      .box {
      height: 100%;
      width: 30%;
      margin-left: 3.8%;
      border-radius: 80px;
      position: absolute;
      margin-top: 2rem;
      background: linear-gradient(to left, #4776E6, #8e54e9);
    
    font-size: 0.9rem;
    font-weight: 300;
      

    }
    </style>
  </head>
  <body>
    
    <div class="box">
      <div>
        <img src="/css/profile.jpg" width="50px" height="50px">
      </div>
      <div>
        <h2 style="font-size: 30px"><b>Contact</b></h2>
        <h3>Phone</h3>
          <h5><%= data.phone%></h5>
        <h3>Email</h3>
          <h5> <%= data.email%></h5>
        <h3>Address</h3>
          <h5><%= data.address%></h5>
      </div>

        <div>
          <h2 style="font-size: 30px"><b>Skills</b></h2>
          <% var skillsArr = data.skills.split(","); %>
          <ul>
            <% for (var i = 0; i < skillsArr.length; i++) { %>
              <li><%= skillsArr[i] %></li>
            <% } %>
          </ul>
        </div> 
        
        <div>

        </div>
    </div>
  
</body>
  
</html>-->



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <style>
      
      * {
  box-sizing: border-box;
  transition: 0.35s ease;
}
.rela-block {
  display: block;
  position: relative;
  margin: auto;
  /*top: ;
  left: ;
  right: ;
  bottom: ;*/
}
.rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
  /*top: ;
  left: ;
  right: ;
  bottom: ;*/
}
.floated {
  display: inline-block;
  position: relative;
  margin: false;
  /*top: ;
  left: ;
  right: ;
  bottom: ;*/
  float:left;
}
.abs-center {
  position: absolute;
  text-align: center;
}
body {
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  letter-spacing: 0px;
  background: url("http://kingofwallpapers.com/leaves/leaves-016.jpg") right no-repeat;
  background-size: cover;
}
body:before {
  content: "";
  display: false;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.92);
}
.caps {
  text-transform: uppercase;
}
.justified {
  text-align: justify;
}
p.light {
  color: #777;
}
h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 40px;
  color: #000;
}
h3 {
  font-family:'Times New Roman', Times, serif;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 20px;
  color: #000;
}
.page {
  width: 90%;
  margin: 60px auto;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.4);
}
.top-bar {
  height: 150px;
  background-color: #848484;
  color: #fff;
}
.name {
  display: false;
  position: absolute;
  left: calc(350px + 5%);
  right: 0;
  bottom: 0;
  height: 100px;
  text-align: right;
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
}
.name div {
  width: 94%;
}
.side-bar {
  display: false;
  position: absolute;
  margin: false;
  
  right: false;
  bottom: 0;
  width: 350px;
  background-color: #f7e0c1;
  padding: 320px 30px 50px;
}
.mugshot {
  display: false;
  position: absolute;
  margin: false;
  top: 50px;
  left: 70px;
  right: false;
  bottom: false;
  height: 210px;
  width: 210px;
}
.mugshot .logo {
  margin: -23px;
}
.logo {
  display: false;
  position: absolute;
  margin: false;
  top: 0;
  left: 0;
  right: false;
  bottom: false;
  z-index: 100;
  margin: 0;
  color: #000;
  height: 250px;
  width: 250px;
}
.logo .logo-svg {
  height: 100%;
  width: 100%;
  stroke: #000;
  cursor: pointer;
}
.logo .logo-text {
  display: false;
  position: absolute;
  margin: false;
  top: 58%;
  left: 0;
  right: 16%;
  bottom: 0;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 55px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 58.333333333333336px;
}
.social {
  padding-left: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}
.social:before {
  content: "";
  display: false;
  position: absolute;
  margin: false;
  top: -4px;
  left: 10px;
  right: false;
  bottom: false;
  height: 35px;
  width: 35px;
  background-size: cover !important;
}

.side-header {
  font-family: 'Open Sans';
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 600;
  line-height: 20px;
  margin: 27px auto ;
  border-bottom: 1px solid #888;
}
.list-thing {
  padding-left: 25px;
  margin-bottom: 10px;
}
.content-container {
  margin-right: 0;
  width: calc(95% - 350px);
  padding: 25px 30px 50px 0px;
}
.content-container > * {
  margin: 0 auto 25px;
}
.content-container > h3 {
  margin: 0 auto 5px;
}
.content-container > p.long-margin {
  margin: 0 auto 50px;
}
.title {
  width: 80%;
  text-align: center;
}
.separator {
  width: 240px;
  height: 2px;
  background-color: #999;
}
.greyed {
  background-color: #ddd;
  width: 100%;
  max-width: 580px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600;
  line-height: 25px;
}
@media screen and (max-width: 1150px) {
  .name {
    color: #fff;
    font-family: 'Raleway';
    font-size: 38px;
    letter-spacing: 6px;
    font-weight: 100;
    line-height: 48px;
  }
}

    </style>
  </head>
  <body>
    <!-- PAGE STUFF -->
    <div class="rela-block page">
  <div class="rela-block top-bar">
    <div class="caps name  "><div class="abs-center"><b><%= data.name%></b></div></div>
  </div>
  <div class="side-bar">
      <!--<div class="mugshot">
          <div class="logo">
            <svg viewBox="0 0 80 80" class="rela-block logo-svg">
              <path d="M 10 10 L 52 10 L 72 30 L 72 70 L 30 70 L 10 50 Z" stroke-width="2.5" fill="none"/>
              <image href="<%= data.profile%>" x="20" y="20" width="40" height="40" />
            </svg>
            
          </div>
      </div>-->
      

      <p class="rela-block caps side-header">Contact</p>
      <p><b>Phone:</b> <%= data.phone%></p>
      <p><b>Email:</b> <%= data.email%></p>
      <p><b>Address:</b> <%= data.address%></p>

      <p class="rela-block caps side-header">Skills</p>
        <% var skillsArr = data.skills.split(","); %>        
        <% for (var i = 0; i < skillsArr.length; i++) { %>
          <p class="rela-block list-thing"><%= skillsArr[i] %></p>
        <% } %>
          
      <p class="rela-block caps side-header">Certifications</p>
      <% var certifiArr = data.certifications.split(","); %>        
      <% for (var i = 0; i < certifiArr.length; i++) { %>
        <p class="rela-block list-thing"><%= certifiArr[i] %></p>
      <% } %> 
  </div>
  <div class="rela-block content-container">
      
      <div class="rela-block caps greyed">Objective</div>
      <p class="long-margin" style="text-align: justify;">
        An enthusiastic and hardworking B.Tech graduate seeking a challenging role in a dynamic organization where I can apply my technical skills and knowledge to contribute to the growth of the company. I am eager to learn new technologies and work collaboratively with a team to solve complex problems. My ultimate goal is to build a successful career and make a significant contribution to the industry
      </p>
      <div class="rela-block caps greyed" >Education</div>
      <ul class="long-margin" >
        <li>
          <h5><b>University College Of Engineering Kakinada(A)</b></h5>
          <p ><%= data.course%></p>
          <p><%= data.branch%></p>
          <p>B.Tech GPA:<%= data.gpa12%></p>
        </li>
        <li>
          <h5><b><%= data.intercollege%></b></h5>
          <p>Inter GPA:<%= data.gpa12%></p>
        </li>
        <li>
          <h5><b><%= data.schoool%></b></h5>
          <p>SSC GPA:<%= data.gpa10%></p>
        </li>
      </ul>

      <div class="rela-block caps greyed" >Projects</div>
        <% var proArr = data.projects.split(","); %>        
        <% for (var i = 0; i < proArr.length; i++) { %>
          <p class="rela-block list-thing"><%= proArr[i] %></p>
        <% } %>

      <div class="rela-block caps greyed" >Achievements/Awards</div>
      <% var achiArr = data.achievements.split(","); %>        
      <% for (var i = 0; i < achiArr.length; i++) { %>
        <p class="rela-block list-thing"><%= achiArr[i] %></p>
      <% } %>
  </div>
</div>
  </body>

