<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= data.name%>'s Resume</title>
        <script>
            document.getElementById("profile").src= data.profile;
        </script>
    </head>
    <body>
        <h3><%= data.name%></h3>
        <h3><%= data.username%></h3>
        <h3><%= data.address%></h3>
        <img src="<% data.profile %>" alt="profile" id="profile"/>
        <h2>Objective:</h2>
        <h4>An enthusiastic and hardworking B.Tech graduate seeking a challenging role in a dynamic organization 
            where I can apply my technical skills and knowledge to contribute to the growth of the company.
             With a strong foundation in [list your core technical skills], I am eager to learn new technologies
              and work collaboratively with a team to solve complex problems. My ultimate goal is to build a successful
               career in a company and make a significant contribution to the industry.</h4>
        
        <h3><%= data.gender%></h3>
        <h3><%= data.course%></h3>
        <h3><%= data.branch%></h3>
        <h3><%= data.phone%></h3>
        <h3><%= data.email%></h3>
        <h1>Education details:</h1>
        <h1><%= data.school%></h1>
        <h2>Tenth GPA:<%= data.gpa10%></h2>
        <h1><%= data.intercollege%></h1>
        <h2>Inter GPA:<%= data.gpa12%></h2>
        <h1>University College Of Engineering Kakinada(A)</h1>
        <h2>B.Tech GPA:<%= data.gpa12%></h2>
        <h1><%= data.achievements%></h1>
        <h1><%= data.skills%></h1>
        <h1><%= data.certifications%></h1>
        <h1><%= data.projects%></h1>
        <h1><%= data.profile%></h1>
        <h1><%= data.dob%></h1>
    </body>
</html>